@(
  loginForm: Form[PotentialExistingUser],
  userForm: Form[PotentialNewUser],
  is32BitJava: Boolean
)(implicit messages: Messages, flash: Flash, request: RequestHeader)

@javascripts = {
  @requireJsBundle("Welcome/show")
}

@defining(scopedMessages("views.Welcome.show")) { m =>
  @main(optionalUser=None, title=m("title"), bodyClass="welcome-show", javascripts=javascripts) {
    @if(is32BitJava) {
      <div class="alert alert-error java-is-32-bit">@Html(m("warning_32bit_html"))</div>
    }

    <article>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="splash">
              <img class="big-logo" src="@routes.Assets.at("images/logo-large.png")" alt="@m("title")" />
              <p class="learn">@m("p1")</p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            @views.html.Session._form(loginForm)
          </div>

        </div>
      </div>
    </footer>
  }
}
